body {
  color: #3c5566;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #f9f2d1;
}
h1{
  color: white;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}

#score{
  float: right;
  font-size: 35px;
}

#game-board {
  background: #c9bca5;
  margin: auto;
  border-radius: 4px;
  padding: 10px;
  width: 600px;

}

.clearfix {
  clear: both;
}

.row {
  /*height: 20%*/
  /*width: 100%;*/
}

.cell {
  background: rgba(225, 226, 241, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  height: 130px;
  float: left;
  margin: 10px;
  width: 130px;
}

.cell,
.tile {
  background: rgba(225, 226, 241, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  height: 130px;
  float: left;
  margin: 10px;
  width: 130px;
}

.tile {
  background: #dbceb6;
  box-sizing: border-box;
  color: #fff;
  float: none;
  font-size: 55px;
  font-weight: bold;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.tile.tile-position-0-0 { transform: translate(0, 0); }
.tile.tile-position-0-1 { transform: translate(150px, 0); }
.tile.tile-position-0-2 { transform: translate(300px, 0); }
.tile.tile-position-0-3 { transform: translate(450px, 0); }
.tile.tile-position-1-0 { transform: translate(0, 150px); }
.tile.tile-position-1-1 { transform: translate(150px, 150px); }
.tile.tile-position-1-2 { transform: translate(300px, 150px); }
.tile.tile-position-1-3 { transform: translate(450px, 150px); }
.tile.tile-position-2-0 { transform: translate(0, 300px); }
.tile.tile-position-2-1 { transform: translate(150px, 300px); }
.tile.tile-position-2-2 { transform: translate(300px, 300px); }
.tile.tile-position-2-3 { transform: translate(450px, 300px); }
.tile.tile-position-3-0 { transform: translate(0, 450px); }
.tile.tile-position-3-1 { transform: translate(150px, 450px); }
.tile.tile-position-3-2 { transform: translate(300px, 450px); }
.tile.tile-position-3-3 { transform: translate(450px, 450px); }

.tile.val-2    { background: #f2ebdc; }
.tile.val-4    { background: #e0cea8; }
.tile.val-8    { background: #f7c26c; }
.tile.val-16   { background: #f78e67; }
.tile.val-32   { background: #f7811b; }
.tile.val-64   { background: #fc551e; }
.tile.val-128  { background: #ffe66b; }
.tile.val-256  { background: #f7b140; }
.tile.val-512  { background: #efd151; }
.tile.val-1024 { background: #edc828; font-size: 50px; padding-top: 35px; }
.tile.val-2048 { background: #edc204; font-size: 50px; padding-top: 35px; }
